/* Espaciado del formulario */
.form-spacing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fila-normal {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.fieldset-display {
    display: flex;
    align-items: center;
    gap: 16px;
}

.fieldset-display label {
    width: fit-content;
}