<div class="p-6 max-w-7xl mx-auto bg-white shadow-sm rounded-lg border border-gray-200">
  <form [formGroup]="form" class="space-y-4">
    <div class="form-spacing">

      <!-- Primera fila -->
      <div class="fila-normal">

        <!-- El origen de mis bienes proviene de -->
        <div class="input-stuff">

          <label for="origen_bienes" class="block text-sm font-medium text-gray-700 mb-2">
            Origen de bienes <span class="text-red-500">*</span>
          </label>

          <select id="origen_bienes" formControlName="origen_bienes" class="input-field">
            <option value="" selected>Seleccione el origen de bienes</option>
            <option value="Compraventa">Compraventa</option>
            <option value="Aporte de socios">Aporte de socios</option>
            <option value="Utilidades">Utilidades</option>
            <option value="Otro">Otro</option>
          </select>
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('origen_bienes')?.invalid && form.get('origen_bienes')?.touched">
            Campo obligatorio
          </div>
          <!-- Solo aparece si selecciona la opción Otra -->
          <div class="input-otra mt-3" *ngIf="form.get('origen_bienes')?.value === 'Otro'">
            <input type="text" formControlName="otro_origen_bienes" maxlength="100" (keypress)="soloLetras($event)"
              class="input-field" placeholder="Ej: Placeholder">
          </div>
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('otro_origen_bienes')?.invalid && form.get('otro_origen_bienes')?.touched">
            <span *ngIf="form.get('otro_origen_bienes')?.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="form.get('otro_origen_bienes')?.errors?.['minlength']">Mínimo 3 dígitos</span>
          </div>

        </div>

        <!-- Los recursos que entregue provienen de la siguiente fuente -->
        <div class="input-stuff">

          <label for="fuente_recursos" class="block text-sm font-medium text-gray-700 mb-2">
            Fuente de los recursos: <span class="text-red-500">*</span>
          </label>

          <select id="fuente_recursos" formControlName="fuente_recursos" class="input-field">
            <option value="" selected>Seleccione la fuente de recursos</option>
            <option value="Capitalización por parte de socios">Capitalización por parte de socios</option>
            <option value="Utilidades del negocio">Utilidades del negocio</option>
            <option value="Desarrollo del objeto social">Desarrollo del objeto social</option>
            <option value="Otra">Otra</option>
          </select>
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('fuente_recursos')?.invalid && form.get('fuente_recursos')?.touched">
            Campo obligatorio
          </div>
          <!-- Solo aparece si selecciona la opción Otra -->
          <div class="input-otra mt-3" *ngIf="form.get('fuente_recursos')?.value === 'Otra'">
            <input type="text" formControlName="otra_fuente_recursos" maxlength="100" (keypress)="soloLetras($event)"
              class="input-field" placeholder="Ej: Placeholder">
          </div>
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('otra_fuente_recursos')?.invalid && form.get('otra_fuente_recursos')?.touched">
            <span *ngIf="form.get('otra_fuente_recursos')?.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="form.get('otra_fuente_recursos')?.errors?.['minlength']">Mínimo 3 dígitos</span>
          </div>

        </div>

      </div>

      <!-- Segunda fila -->
      <div class="fila-normal">
        <!-- País de origen -->
        <div class="input-stuff">
          <label class="block text-sm font-medium text-gray-700 mb-2">
            País de origen <span class="text-red-500">*</span>
          </label>
          <input id="pais_origen_bienes" type="text" formControlName="pais_origen_bienes" maxlength="100"
            (keypress)="soloLetras($event)" class="input-field" placeholder="Ej: Placeholder">
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('pais_origen_bienes')?.invalid && form.get('pais_origen_bienes')?.touched">
            <span *ngIf="form.get('pais_origen_bienes')?.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="form.get('pais_origen_bienes')?.errors?.['minlength']">Mínimo 3 dígitos</span>
          </div>
        </div>

        <!-- Ciudad de origen de bienes y/o fondos -->
        <div class="input-stuff">
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Ciudad de origen de bienes y/o fondos <span class="text-red-500">*</span>
          </label>
          <input id="ciudad_origen_bienes" type="text" formControlName="ciudad_origen_bienes" maxlength="100"
            (keypress)="soloLetras($event)" class="input-field" placeholder="Ej: Placeholder">
          <div class="text-red-500 text-xs mt-1"
            *ngIf="form.get('ciudad_origen_bienes')?.invalid && form.get('ciudad_origen_bienes')?.touched">
            <span *ngIf="form.get('ciudad_origen_bienes')?.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="form.get('ciudad_origen_bienes')?.errors?.['minlength']">Mínimo 3 dígitos</span>
          </div>
        </div>
      </div>

      <div class="fila-normal">

        <!-- ¿Realiza operaciones en moneda extranjera? -->
        <fieldset class="radio-options">
          <label class="text-sm font-medium text-gray-700">
            ¿Realiza operaciones en moneda extranjera?
          </label>
          <div class="options">
            <div class="option-nat">
              <input type="radio" id="op_moneda_extj_si" name="op_moneda_extj" value="Sí"
                formControlName="op_moneda_extj" />
              <label for="op_moneda_extj_si">
                Sí
              </label>
            </div>
            <div class="option-nat">
              <input type="radio" id="op_moneda_extj_no" name="op_moneda_extj" value="No"
                formControlName="op_moneda_extj" />
              <label for="op_moneda_extj_no">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <!-- ¿Realiza operaciones en moneda extranjera? -->
        <fieldset class="radio-options">
          <label class="text-sm font-medium text-gray-700">
            ¿Realiza operaciones en moneda extranjera?
          </label>
          <div class="options">
            <div class="option-nat">
              <input type="radio" id="op_moneda_extj_si" name="op_moneda_extj" value="Sí"
                formControlName="op_moneda_extj" />
              <label for="op_moneda_extj_si">
                Sí
              </label>
            </div>
            <div class="option-nat">
              <input type="radio" id="op_moneda_extj_no" name="op_moneda_extj" value="No"
                formControlName="op_moneda_extj" />
              <label for="op_moneda_extj_no">
                No
              </label>
            </div>
          </div>
        </fieldset>

      </div>


    </div>

    <!-- Botones -->
    <div class="flex justify-between mt-6">
      <button type="button" (click)="volver()" class="form-btn">Volver a la página anterior</button>
      <button type="button" (click)="guardarSeccion()" [disabled]="form.invalid" class="form-btn">
        Guardar y finalizar
      </button>
    </div>

  </form>
</div>