@media print {
  body * {
    visibility: hidden;
  }

  .print-section,
  .print-section * {
    visibility: visible;
  }

  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none !important;
  }
}

/* Botón de editar */
.btn-editar {
  padding: 0.5rem 1.25rem;
  background-color: #1c398e;
  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.btn-editar:hover {
  background-color: #1e40af;
}