.input-box {
  width: -webkit-fill-available;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 3);
  outline: none;
}

.input-box:focus {
  border: 2px solid var(--color-blue-500);
}