<div class="bb-modal-backdrop" *ngIf="visible" (click)="onBackdropClick()">
    <div class="bb-modal" role="dialog" aria-modal="true" *ngIf="visible">
        <div class="bb-modal-header">
            <div class="bb-modal-title">
                <span *ngIf="type === 'success'" class="bb-badge bb-badge-success">✓</span>
                <span *ngIf="type === 'error'" class="bb-badge bb-badge-error">X</span>
                <span *ngIf="type === 'confirm'" class="bb-badge bb-badge-confirm">!</span>
                <span>{{ title }}</span>
            </div>
        </div>

        <div class="bb-modal-body">
            <p class="bb-modal-message">{{ message }}</p>
        </div>

        <div class="bb-modal-footer">
            <button *ngIf="type === 'confirm'" type="button" class="btn-cancel" (click)="onCancel()">
                Cancelar
            </button>
            <button type="button" class="btn-accept" (click)="onConfirm()">
                {{ confirmText }}
            </button>

        </div>
    </div>
</div>