/* Botones */
.form-btn {
    padding: 0.5rem 1.5rem;
    background-color: #1e3a8a;
    color: white;
    font-weight: 500;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border: none;
}

.form-btn:hover {
    background-color: #1e40af;
}

.form-btn:disabled {
    background-color: #d1d5dc;
    color: #6a7282;
    cursor: not-allowed;
}

.form-cancel-btn {
    padding: 0.5rem 1.5rem;
    background-color: white;
    color: #364153;
    font-weight: 500;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border: solid 1px #d1d5dc;
}

.form-cancel-btn:hover {
    background-color: #f9fafb;
}